@page

<div id="detailGrid" style="position:absolute; left:900px; right:0; top:0; bottom:0;"></div>
<div style="position:absolute; left:0; right:0; top:0; bottom:0;">
    @(Html.DevExpress().Dashboard("dashboardControl1")
	.Width("900px")
	.Height("100%")
	.ControllerName("DefaultDashboard")
	.WorkingMode(DevExpress.DashboardWeb.WorkingMode.ViewerOnly)
	.OnDashboardEndUpdate("onDashboardEndUpdate")
)
</div>